### Libraries Used
* Pandas, Numpy - Data Loading / Transformation / Analysis
* Sklearn - Preprocessing

In [3]:
from __future__ import print_function
# Allow rendering of Matplotlib plots directly on Jupyter Notebooks.
%matplotlib inline

# Import all dependencies required for the problem.
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

# Beautify the traditional looking plots.
sns.set(style="whitegrid", palette="pastel", color_codes=True)

AttributeError: module 'pandas' has no attribute '_libs'

In [ ]:
# Set a Seed for random number generation for reproducible results
RANDOM_SEED = 42
np.random.seed(RANDOM_SEED)

In [ ]:
# Load the titanic dataset using Pandas library 
df = pd.read_excel('../data/titanic_dataset.xlsx').dropna(subset=['Age'])

In [ ]:
# Split the dataset into dependent features (passenger details used for prediction)
# and target features (prediction if the passenger survived)
x = df.loc[:,:'Embarked']
y = df['Survived']

In [31]:
# Preview the Titanic Dataset
x.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
# Our Fancy Smart Classifier tries to predict if a passenger survived or not based on his / her details. 
def smart_classifier(row):
    """The function predicts if the passenger survived titanic (1 -> survived / 0 -> Died)"""
    return 1

### Data Dictionary

    Variable	Definition	Key
    survival	Survival	0 = No, 1 = Yes
    pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
    sex	Sex	
    Age	Age in years	
    sibsp	# of siblings / spouses aboard the Titanic	
    parch	# of parents / children aboard the Titanic	
    ticket	Ticket number	
    fare	Passenger fare	
    cabin	Cabin number	
    embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton

### Variable Notes

    pclass: A proxy for socio-economic status (SES)
    1st = Upper
    2nd = Middle
    3rd = Lower

    age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

    sibsp: The dataset defines family relations in this way...
    Sibling = brother, sister, stepbrother, stepsister
    Spouse = husband, wife (mistresses and fianc√©s were ignored)

    parch: The dataset defines family relations in this way...
    Parent = mother, father
    Child = daughter, son, stepdaughter, stepson
    Some children travelled only with a nanny, therefore parch=0 for them.

In [37]:
from sklearn.metrics import accuracy_score
def print_accuracy():
    predictions = []
    for index, record in x.iterrows():
        predictions.append(smart_classifier(record))
    print("Accuracy: {:.2f}".format(accuracy_score(y, predictions) * 100.0))
print_accuracy()

Accuracy: 40.62